/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 40px 0;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
}

section {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    border-radius: 5px;
}

section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.project {
    margin-bottom: 30px;
    text-align: center;
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.project h3 {
    font-size: 20px;
    margin-top: 10px;
}

.project p {
    margin-top: 10px;
}

.project a {
    display: inline-block;
    margin-top: 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.project a:hover {
    background-color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}
